# user is set either at the system git config or the local (per repo) git config
[push]
        default = current # Allows pushing a branch to remote with giving a name (uses the current branch name)
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FRX # Disables using less (or alike) for git command output. This behavior changed in git 2.16. See https://stackoverflow.com/a/49862151 for details.
	editor = vim
[pull]
	rebase = false
